<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aparftman_Kayıt_Uygulaması_DevEx.Properties.Settings.IsikSitesiConnectionString"
            connectionString="Data Source=HASAN\SQLEXPRESS;Initial Catalog=IsikSitesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>